<section class="contact-page">
  <article class="contacts-total">

    There are <strong><%= @contacts.length %></strong> contacts

  </article>



    <% @contacts.each do |contact| %>
      <article class="contact">
      <h3><%= contact.full_name %> (<%= contact.email %>)</h3>
        <a href="#">Edit</a> | <a href="#">Delete</a>
      </article>
    <% end %>


</section>
